.navbar .fixed-top {
    border-radius: 8px;
    background-color:#CDE3EB;
   

}

.my-title {
    margin-top: 10px; 
    padding-top: 10%;
    color:white;
    font-size: 30px;
}

.port {
    font-family: Courier New, Courier, monospace;
}

@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

.gradient-text {
  position: relative;
  text-shadow: .15em .15em .35em rgb(252, 226, 226);
  padding: .10em;
  &::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle at 70% 3%, #aa048b, #bb9801);
    mix-blend-mode: screen;
  }
}

.horizental-colored-line {
    border: 2px solid; 
    border-color: rgb(189, 47, 255);
    margin: 0px;
  
}

.top{
    background-color:#143A52;
}

.logo-img {
    margin-top: 0px;
    margin-bottom: -20px;
    margin-right: -50px;
    padding-right: -10px;
}

#home {
    width: 100%;
    height: 100%;
    background-color: #CDE3EB;
    margin-top: 10px;
 
}
#home p {
    margin-top: -25px;
    padding-top: 35px;
    color:rgb(0, 0, 0);

}
#home .title {
    margin-top: -25px;
    padding-top: 115px;
    color:rgb(0, 0, 0);
}

.hompage-h3 {
    margin-top: -45px;
    padding-top: 35px;
    color:rgb(0, 0, 0);
}

.homepage-div {
    margin-left: 50px;
    margin-top: 30px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20%;
    height: 20%;
}


#portfolio {
    width: 100%;
    height: 100%;
    background-color: #6E828A;
    margin-top: -10px;
    padding-top: 5px; 
}
#portfolio p,
#portfolio h3, 
#portfolio .title{
    margin-top: 115px;
    color:#E3EFF3;
}

.portfolio-div {
    margin-left: 50px;
    margin-top: -50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 25%;
    height: 20%;
}

.about-div {
    margin-left: 50px;
    margin-top: -30px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 25%;
    height: 25%;
}

#about {
    width: 100%;
    height: 100%;
    background-color: #CDE3EB;
    margin-top: -19px;
    padding-top: 5px;
}

#about p,
#about h3,
#about h1,
#about #title{
    margin-top: 115px;
    /* color:#E3EFF3; */
    color:rgb(0, 0, 0);
}

.contact-div {
    margin-left: 50px;
    margin-top: -30px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 25%;
    height: 20%;
}

#contact {
    width: 100%;
    height: 100%;
    background-color: #3F6699;
    margin-top: -19px;
    padding-top: 5px;
}

#contact p,
#contact h3,
#contact h1, 
#contact #title {
    margin-top: 115px;
    color:rgb(0, 0, 0);
}