
.nav-pills {
    font-family: Lobster;
    font-size: 1.7em;
    background-color:#6E828A;
}

 .ulnav-list{
    background: white;
}

body {
    background-color:#6E828A;
}

.page-one {
    color: white;
    font-family: Josefin,Sans;
}

